*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Nunito Sans', sans-serif;
}

.header{
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}
.center{
    max-width: 1180px ;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
img{
    width: 829px;
    position: absolute;
    right: -169px;
}
.text{
    color: #FAF9F9;
    width: 580px;
    margin-top: 170px;
    margin-bottom: 169px;
} 
h1{
    font-size: 120px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 120px;
    margin-bottom: 40px;
}
h1 span{
   color: #FBB731; 
   font-weight: 700;
   font-size: 30px;
   display: block;
   line-height: 38px;
   margin-bottom: 10px;
}
p{
    font-family: 'Lato', sans-serif;
    color: #DEDEDE;
    font-size: 19px;
    font-weight: 400;
    line-height:1.4;
    margin-bottom: 42px;
}
div a{
    color: #1E2F40;
    background-color: #FBB731;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 45px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    
}
.right{
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.bg{
    /* position: absolute; */
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}
.content{
    border: 1px solid black;
    max-width: 1180px;
    height: 768px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.skidka img{
    
    background:url(images/Mask.png);
    width: 580px;
    height: 395px;
    left: 360px;
    top: 1048px;
    
}
.free img{
    width: 580px;
    height: 395px;
    left: 944px;
    top: 1048px;
}
